.home-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-about-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-about-blurb {
    width: 40%;
}

.home-about-blurb h1 {
    font-size: 3rem;
}

.home-about-blurb p {
    color: var(--description-color);
    font-size: 1.2rem;
}

.home-about-image {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.home-about-image img {
    width: 80%;
    border: 0.2em black solid;
    border-radius: 77% 23% 70% 30% / 30% 30% 70% 70% ;
}

.home-about-tech {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.home-about-tech > * {
   margin: 1rem;
   size: 20;
}

.home-about-tech-spacer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem;
    margin-left: 1rem;
}

.home-about-tech-spacer > * {
    margin: 0.5rem;
}

.icon-html {
    color: #f06529;
}

.icon-css {
    color: #2965f1;
}

.icon-js {
    color: #f0db4f;
}

.icon-react {
    color: #61dafb;
}

.icon-node {
    color: #339933;
}

.icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.09);
}
