:root {
    --header-color: rgb(66, 120, 245);
    --description-color: rgb(75, 78, 80);
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-title {
    width: 50%;
    display: grid;
    color: var(--header-color)
}

.project-info-left {
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    margin: 2em;
}

.appear-left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project-info-right {
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    margin: 2em;
}

.appear-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project-info-left > * {
    margin: 3em;
}

.project-info-right > * {
    margin: 3em;
}

img {
    width: 30em;
    height: auto;
    border-radius: 1rem;
}

.projects-info-blurb {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 15%;
    text-align: center;
}

.projects-info-blurb > * {
    margin: 0.5rem;
}

.projects-info-blurb p{
    color: var(--description-color)
}

@media(prefers-reduced-motion) {
    .project-info-left {
        transition: none;
    }

    .project-info-right {
        transition: none;
    }
}